body {
	width:300px;
	height:300px;
}
#logo {
		display:block;
		margin:0 auto;
}
.input-container {
		width:80%;
}
.mdl-layout .mdl-layout__drawer-button {
		display:none;
}

.mdl-layout__header-row {
		padding-left: 24px !important;
}

.page-content {
		padding-left: 16px;
}
#loader {
		display:none;
}
#error {
		padding-top:8px;
}
#email{
		margin-top:8px;
}
#logout-btn {
		margin-top:16px;
}
