html, body {
	width:300px;
	height:375px;
}
.input-container {
		width:80%;
}
.mdl-layout .mdl-layout__drawer-button {
		display:none;
}

.mdl-layout__header-row {
		padding-left: 24px !important;
}

.page-content {
		padding: 16px;
}
#loader {
		display:none;
}
#error {
		padding-top:8px;
}
#logout-btn {
		bottom:52px;
		position:absolute;
}
#user {
		bottom:0px;
		position:absolute;
}
.mdl-mini-footer {
		padding:8px 16px;
}
