body {
		width:200px;
		height:200px;
		color: #00695C;
}
#bottom {
		position:absolute;
		bottom:2px;;
		width:200px;
}
#download {
		text-decoration: none;
		border: 1px solid #BDBDBD;
		color: #424242;
		margin:0 auto;
		position:relative;
		display:block;
		padding:3px;
}
.btn {
		background-color: #009688;
		border:none;
		text-decoration:none;
		padding: 5px 10px;
		color:white;
		border-radius: 2px;
}
#toggle-notifications {
		margin-top: 15px;
}
#logout-btn {
		margin-top:10px;
} 
#email {
		margin-top:15px;
}
.centered {
		text-align:center;
}
#login-btn {
		margin:0 auto;
}
#loader {
		display:none;
		margin:0 auto;
		border: 5px solid #eeeeee;
		border-top: 5px solid #0097A7;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		animation: spin 2s linear infinite;
}
@keyframes spin {
		0% { transform: rotate(0deg);  }
		100% { transform: rotate(360deg);  }
}
#login-btn {
		margin-top: 6px;
}
#logo {
		display:block;
		margin:0 auto;
}
input {
		padding-top:2px;
		padding-bottom:2px;
		margin-top: 2px;
		margin-bottom: 2px;
}
